html,
body {
     margin: 0;
     padding: 0;
}

body {
     display: flex;
     flex-direction: column;
}

.container {
     flex: 1;
}

/* Destaca o campo com erro */
.error {
     border: 2px solid red;
}

/* Mensagem de erro */
.error-message {
     color: red;
     font-size: 0.9em;
     margin-top: 5px;
     display: block;
}