#modal {
     top: 50%;
     left: 50%;
     position: fixed;

     transform: translate(-50%, -50%);
     display: none;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: auto;
     padding: 40px;
     border: none;
     border-radius: 10px;
     background-color: #fff;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#modal[open] {
     display: flex;
}
.image-modal {
     margin: 0 auto 20px;
     max-width: 100px;
     height: auto;
}

#modal h2 {
     font-family: 'BMWTypeNext Pro Regular', Arial, sans-serif;
     font-size: 1.5em;
     text-align: center;
     margin-bottom: 10px;
}

#modal p {
     font-family: 'BMWTypeNext Pro Regular', Arial, sans-serif;
     font-size: 1em;
     text-align: center;
     color: gray;
     margin-bottom: 20px;
}

#modal button {
     padding: 12px 130px;
     size: 20px;
     font-size: 1em;
     color: gray;
     background-color: #ffffff;
     border-radius: 3px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}